#sort-selector div {
  opacity: 0.41;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #464646;
}

#sort-selector div.sort-selected {
  opacity: 0.81;
}