.location-selector {
  align-self: center;
  display: grid;
  border-bottom: solid 1px #f4f5f8;
  -ms-flex-align: center;
  align-items: center;
  align-self: center;
  padding-left: 25px;
  padding-right: 25px;

}


.location-group-label {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.location-group-input {
  /*display: block;*/
  padding-left:5px;
  font-size: 16px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(169, 169, 169);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;

}