#order-select-screen {
  height: 100%;
  display: grid;
  grid-template-rows: 114px 28px 335px 40px 74px;
}

.totals-grid {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-gap: 10px;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f4f5f8;
}

.footer-titles {
  font-family: Lato;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

.footer-amounts {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}
