.dsi-overlay{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: grid;
  grid-template-rows: fit-content(10px);
}

.dsi-overlay-curtain {
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.dsi-modal {
  position: absolute;
  width: 100%;
  background-color: transparent;
  margin: 0;
}

.dsi-modal.bottom {
  bottom: 0;
}

.dsi-modal.top {
  top: 0;
}

.dsi-modal.center {
   top: calc((100vh - 500px) / 2);
}

@media screen and (max-width: 500px) {
  .dsi-modal.center {
    top: calc((100vh - 100vw) / 2);
  }
}
