#multiple-data-types-modal {
  margin: 0 auto;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 160px 64px;
}

.title {
  padding-top: 20px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #464646;
}

.message {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;

}


@media screen and (max-width: 501px) {
  #multiple-data-types-modal {
    width: 100%;
  }
}

.data-type-card {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;

padding: 10px;
}
.data-type-header {
  padding-left: 25px;
  padding-right: 25px;
}

.scroll-container {
  background-color: #f4f5f8;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
}