#main-form {
  display: grid;
  grid-row-gap: 15px;
  border-bottom: solid 1px #f4f5f8;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}

.all-commands {
  display: grid;
  grid-template-columns: 50% 50%;
}

.select-commands {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}
.expand-commands {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}