.order-card {
  font-family: Lato, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 50px 1fr;
  height: 55px;
}

.order-card-action {
  display: grid;
  justify-content: center;
  align-items: center;
}

.order-card-info {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  font-size: 12px;
  color: #464646;
  letter-spacing: 0.2px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.order-card-info > .order-number {
  align-self: center;
}

.sales-order {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

.sales-order-count {
  width: 50px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.customer {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

.carrier {
  width: 50px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}
.content {
  grid-area: main1;
}

.content2 {
  grid-area: main2;
}

.content3 {
  grid-area: main3;
}
.content4 {
  grid-area: main4;
}

.sidebar {
  grid-area: sd;
  padding-left: 15px;
  padding-top: 15px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.background-none {
  width: 340px;
  height: 55px;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.background-select {
  width: 340px;
  height: 55px;
  background-color: #bad5df;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.background-partial-select {
  width: 340px;
  height: 55px;
  background-color: #dbdbdb;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.sales-order {
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

.sales-order-count {
  width: 50px;
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.customer {
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

.carrier {
  width: 50px;
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.order-card.complete{
  background-color: #bad5df;
}

.order-card.partial{
  background-color: #dbdbdb;
}

.order-card.incomplete {
  background-color: white;
}

.bold {
  font-weight: bold;
}