.fulfillment-card {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.fulfillment-card-action {
  width: 50px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #464646;
  justify-content: right;
  text-align: center;
  align-self: center;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.fulfillment-card-info {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: left;
}

.fulfillment-card-shipmethod {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #464646;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.fulfillment-card-count {
  width: 50px;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: right;
}

