#notification-modal {
  height: 96px;
  width: 500px;
  background-color: #efefef;
  box-shadow: 0 2px 4px 0 #00000038;
  display: grid;
  grid-template-columns: 1fr 60px;
  align-items: center;
  margin: 0 auto;
}

#notification-message {
  display: grid;
  font-family: Lato, Helvetica, sans-serif;
  letter-spacing: 0.2px;
  color: #464646;
}

#notification-message h5 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #0084a9;
  text-transform: uppercase;
  padding-left: 24px;
}

#notification-message h5.failed {
  color: red;
}

#notification-message p {
  font-size: 13px;
  padding-left: 24px;
}

#notification-close {
  display: grid;
  justify-items: center;
  font-family: Lato, Helvetica, sans-serif;
  letter-spacing: 0.2px;
  color: #464646;
  padding-top: 20px;
  padding-right: 30px;
}

#notification-close p {
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
  #notification-modal {
    width: 100%;
  }
}