.dsi-header {
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  padding-bottom: 5px;

  border-bottom: 1px solid rgb(151, 151, 151);
  border-bottom: 1px solid rgba(151, 151, 151, .81);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.dsi-header-navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 50px;
  height: 30px;
  margin: 9px 0 6px 0;
}

.dsi-header-back-icon {
  height: 20px;
  padding-left: 10px;
  vertical-align: middle;
}

.dsi-header-logo-image {
  max-height: 30px;
  max-width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 5px;
  margin: auto;
  display: inline-block;
}

.dsi-header-menu-icon {
  height: 19px;
  padding: 0 5px 0 15px;
  vertical-align: middle;
}

.dsi-header-app {
  display: grid;
  grid-template-columns: fit-content(70%) 1fr;
}

.dsi-header-app-title {
  height: 19px;
  padding-left: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: left;
  vertical-align: middle;
}

.dsi-header-app-location {
  margin-right: 10px;
  height: 19px;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
