@import url('https://fonts.googleapis.com/css?family=Lato');


#root {
  height: 100%;
  font-family: Lato, Helvetica, sans-serif;
}

.field-group {
  display: inline-block;
  padding-left: 30px;
}

.field-group-label {
  font-family: Helvetica, sans-serif;
  display: block;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.field-group-input {
  /*display: block;*/
  width: 280px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(169, 169, 169);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.input-small {
  width: 123px;
}

.field-group-enter {
  display: inline-block;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  font-size: 12px;
}

.field-group-enter-arrow {
  margin-bottom: -2px;
}

.field-group-number {
  display: inline-block;
}

.field-group-number input {
  width: 40px;
}

.bottomHr {
  margin-bottom: 10px
}

.perc40 {
  width: 40%;
}

.perc10 {
  width: 10%;
}

.center {
  text-align: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.modal-location {
  background-color: white;
  height: 195px;
}

.modal-header {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  margin-top: 35px;
}

.modal-button {
  position: absolute;
  bottom: 20px;
  width: 282px;
  height: 45px;
  background-color: #464646;
  color: white;
}

.modal-content {
  width: 80%;
  max-width: 500px;
  height: 100%;
  margin-top: -17px;
  margin-left: auto;
  margin-right: auto;
}

.modal-input {
  margin-left: -30px;
}


.circle {
  width: 17px;
  height: 17px;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1em;
  padding-bottom: 1px;
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 68px;
  padding-left: 20px;
  background-color: #efefef;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.notification-body {
  display: inline-block;
  width: 70%;
}

.notification-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-top: 19px;
}

.notification-message {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 13px;
}

.notification-supplemental {
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0;
}

.notification-close {
  display: inline-block;
  width: 30%;
}

.notification-title.success {
  color: #0084a9;
}

.notification-title.fail {
  color: #ea212e;
}

/*noinspection CssUnknownTarget*/
.icon {
  background-image: url(/images/dsi-direct-sprites.png);
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin: auto;
}

.icon-plus {
  margin-top: 2px;
  background-position: -100px -600px;
  margin-left: 5px;
}

.icon-minus {
  margin-top: 2px;
  background-position: -100px -1400px;
  margin-right: 3px;
}

.icon-arrow-right {
  background-position: -250px -600px;
}

.icon-refresh {
  background-position: -250px -800px;
}

.icon-info {
  background-position: -250px -750px;
  opacity: 0.2;
}

.icon-sort-desc {
  background-position: -100px -805px;
  height: 10px;
}

.icon-sort-asc {
  background-position: -100px -805px;
  height: 9px;
  transform: scaleY(-1);
  /*transform: rotate(180deg);*/
}

.icon-pick-list {
  margin-top: -3px;
  background-position: -150px -800px;
}

.icon-three-dots {
  margin-top: 2px;
  background-position: -300px -550px;
}

.icon-blue-dot {
  height: 14px;
  background-position: -250px -554px;
}

.icon-chevron {
  background-position: -450px -600px;
}

.icon-chevron-selected {
  background-position: -450px -600px;
  transform: rotate(90deg);
}

.icon-delete {
  background-position: -350px -656px;
  height: 11px;
  display: inline-block;
  margin-top: 10px;
}

.icon-close {
  background-position: -300px -650px;
}

.icon-location {
  background-position: -50px -1450px;
}

.icon-swipe-up {
  margin-top: -20px;
  background-position: -250px -50px;
  height: 38px;
}

.icon-collapse-all {
  background-position: -252px -497px;
}

.icon-expand-all {
  background-position: -302px -497px;
}

.icon-select-none {
  background-position: -351px -497px;
}

.icon-select-all {
  background-position: -401px -497px;
}

.handCursor {
  cursor:pointer;
}

::placeholder {
  width: 219px;
  height: 16px;
  opacity: 0.5;
  font-family: Lato;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}
