.dsi-number-group {
  display: grid;
  grid-template-rows: fit-content(1px) fit-content(1px);
}

.dsi-number-group label {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: #464646;
  justify-self: center;
}

.dsi-number-group input {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border: solid 1px #9a9a9a;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  text-align: center;
}

.dsi-number-group-input {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: 30px;
  align-items: center;
  min-width: 100px;
}

.dsi-number-group-input ::-webkit-input-placeholder {
  text-align: center;
}
.dsi-number-group-input :-moz-placeholder {
  text-align: center;
}
.dsi-number-group-input ::-moz-placeholder {
  text-align: center;
}
.dsi-number-group-input :-ms-input-placeholder {
  text-align: center;
}