.order-review-card {
  font-family: Lato, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
  min-height: 35px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.order-review-card2 {
  font-family: Lato, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  min-height: 50px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.review-order {
opacity: 0.81;
font-family: Lato;
font-size: 14px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.2px;
text-align: left;
color: #464646;
}

.review-customer {
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;

}

