#location-selector-modal {
  height: 200px;
  margin: 0 auto;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 74px;
}

.h5 {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #464646;
  padding-left: 10px;
}

#location-selector-modal p {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #464646;
}

@media screen and (max-width: 501px) {
  #location-selector {
    width: 100%;
  }
}

.location-selector-header {
  padding-left: 24px;
  padding-right: 24px;
}

.location-selector-footer {
  height: 74px;
  align-self: center;
  display: grid;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

