.dsi-btn {
  background-color: #464646;
  height: 34px;
  color: #FFFFFF;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.2px;
  padding: 8px;
  opacity: 1;
  border: solid 1px #464646;
  text-align: center;
  text-transform: uppercase;
}

.dsi-btn.dsi-btn-secondary {
  background-color: #cacaca;
  color: #464646;
  border: solid 1px #cacaca;
}

.dsi-btn:active {
  outline: none;
}

.dsi-btn:focus {
  outline: none;
}

.dsi-btn:hover {
  cursor: pointer;
}

.dsi-btn:disabled {
  cursor: initial;
  opacity: 0.3;
}