.loader_container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff80;
    opacity: 1;
    position: absolute;
    animation: fadeIn .25s ease-in-out;
    -webkit-transition: fadeIn .25s ease-in-out;
    z-index: 100;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: .8; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: .8; }
}

.loader{
    width: 60px;
    height: 60px;
    max-width: 120px;
    max-height: 120px;
    border: 10px solid #484848;         
    border-top: 10px solid #48484800; 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: fixed;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
    animation: spin 1.75s linear infinite;
    -webkit-animation: spin 1.75s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}

.loader2{
    width: 25px;
    height: 25px;
    max-width: 120px;
    max-height: 120px;
    border: 10px solid #484848;         
    border-top: 10px solid #48484800; 
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: fixed;
    top: 42.5%;
    right: 0;
    left: 0;
    margin: auto;
    animation: spin2 1.5s linear infinite;
    -webkit-animation: spin2 1.5s linear infinite;
}

@-webkit-keyframes spin2 {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spin2 {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(-360deg); }
}

.loader_text{
    height: 16px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.2px;
    text-align: center;
    color: #464646;
    text-transform: uppercase;
    position: fixed;
    top: 54%;
    right: 0;
    left: 0;
}