.dsi-field-group {
  display: block;
}

.dsi-field-group label {
  text-transform: uppercase;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #464646;
}

.dsi-field-group-input {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border: solid 1px #9a9a9a;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;}

.dsi-field-group-input.options {
  width: calc(100% - 24px);
}

.dsi-field-group-label>span {
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

input::-webkit-calendar-picker-indicator {
  background-color: inherit;
}