.accordion {
  display: grid;
  background-color: white;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 10px;
}

complete{
  background-color: #bad5df;
}

partial{
  background-color: #dbdbdb;
}

incomplete {
  background-color: white;
}

